@font-face {
	font-family: 'Kanit';
	src: url('assets/fonts/Kanit-Light.ttf');
	font-weight: 200;
}
@font-face {
	font-family: 'Kanit';
	src: url('assets/fonts/Kanit-Regular.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Kanit';
	src: url('assets/fonts/Kanit-Medium.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Kanit';
	src: url('assets/fonts/Kanit-SemiBold.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Kanit';
	src: url('assets/fonts/Kanit-Bold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'Kanit';
	src: url('assets/fonts/Kanit-Black.ttf');
	font-weight: 900;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Kanit';
	color: white;
	box-sizing: border-box;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
	border-color: transparent;
	box-shadow: none;
	/* background: #d7d7d7; */
}

.rc-slider-disabled {
	background-color: black;
}

.text-outline {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

/* .rc-slider-handle:focus-visible,
.rc-slider-handle:focus,
.rc-slider-handle-click-focused:focus,
.rc-slider-handle:hover {
	background: #d7d7d7;
} */
